*.o
*.o.*
*.cmd
*.cmd.*
*.ko
*.ko.*
*.mod
*.mod.*
*.txt
*.swap
*.swp
*.so
*.so.*
*.dat
*.data
*.log
*.a
*.a.*
modules.*
Module.*
project.vim
tags
cscope.*
*~
.*
*.pyc
*.d
*.orig
bin/
lib/

!.gitignore
!.c
!.h
!.cpp
!.py
!Makefile
!.conf


